.bar {
	font-family: "Maple Mono NF", monospace;
	font-size: 14px;
	font-weight: bold;
	background: #000;
	padding-top: 2px;
}

.widget {
	padding: 0 10px;
	border-left: 4px solid;
}

.white {
	color: #fff;
	border-color: #888;
}

.gray {
	color: #888;
	border-color: #444;
}

.red {
	color: #f44;
	border-color: #822;
}

.yellow {
	color: #ff4;
	border-color: #882;
}

.green {
	color: #4f4;
	border-color: #282;
}	

.cyan {
	color: #4ff;
	border-color: #288;
}	

.blue {
	color: #48f;
	border-color: #248;
}	

.magenta {
	color: #f4f;
	border-color: #828;
}	

.orange {
	color: #f84;
	border-color: #842;
}	

