.bar {
	color: #e0e0e0;
	font-family: "Overpass Mono", monospace;
	font-size: 8px;
	font-weight: bold;
	background: #000000;
	padding-top: 2px;
}

.widget {
	padding: 0 10px;
	border-left: 4px solid;
}

.white {
	color: #ffffff;
	border-color: #555555;
}

.gray {
	color: #888888;
	border-color: #222222;
}

.red {
	color: #ff0000;
	border-color: #550000;
}

.yellow {
	color: #ffff00;
	border-color: #555500;
}

.green {
	color: #00ff00;
	border-color: #005500;
}	

.cyan {
	color: #00ffff;
	border-color: #005555;
}	

.blue {
	color: #0088ff;
	border-color: #002255;
}	

.magenta {
	color: #ff00ff;
	border-color: #550055;
}	

.orange {
	color: #ff8800;
	border-color: #552200;
}	

