.bar {
	color: #e0e0e0;
	font-family: "Maple Mono NF", monospace;
	font-size: 14px;
	font-weight: bold;
	background: #000000;
	padding-top: 2px;
}

.widget {
	padding: 0 10px;
	border-left: 4px solid;
}

.white {
	color: #ffffff;
	border-color: #888888;
}

.gray {
	color: #888888;
	border-color: #444444;
}

.red {
	color: #ff4444;
	border-color: #882222;
}

.yellow {
	color: #ffff44;
	border-color: #888822;
}

.green {
	color: #44ff44;
	border-color: #228822;
}	

.cyan {
	color: #44ffff;
	border-color: #228888;
}	

.blue {
	color: #4488ff;
	border-color: #224488;
}	

.magenta {
	color: #ff44ff;
	border-color: #882288;
}	

.orange {
	color: #ff8844;
	border-color: #884422;
}	

