#window {
	font-family: Hack;
	background-color: rgba(0, 0, 0, 0.25);
	color: white;
	font-size: 18px;
}

#input {
	padding: 5px;
	border: none;
	background: transparent;
	color: white;
	font-size: 18px;
	box-shadow: none;
}

#entry {
	padding: 5px;
}

#entry:selected {
	background-color: rgba(255, 255, 255, 0.1);
	outline: none;
}

#img {
	margin-right: 10px;
}
