* {
	font-family: "Hack", monospace;
	font-size: 12px;
	font-weight: bold;
}

window#waybar {
	background: #1f1d2e;
}

.module {
	padding: 7px;
}

#battery, #cpu, #temperature, #disk, #memory {
	color: #9ccfd8;
}

#battery.warning, #cpu.warning, #disk.warning, #memory.warning {
	color: #f6c177;
}

#battery.critical, #cpu.critical, #temperature.critical, #disk.critical, #memory.critical {
	color: #eb6f92;
}

#mpris {
	color: #31748f;
}

#window {
	color: #e0def4;
}

#network, #pulseaudio, #backlight {
	color: #c4a7e7;
}

#network.disconnected, #pulseaudio.muted {
	color: #6e6a86;
}

#clock {
	color: #ebbcba;
}

