* {
	font-family: "Hack", monospace;
	font-size: 14px;
	font-weight: bold;
}

window#waybar {
	background: transparent;
}

#battery, #cpu, #temperature, #disk, #memory,
#network, #clock, #pulseaudio, #backlight {
	margin: 5px;
}

#battery.critical, #cpu.critical, #temperature.critical, #disk.critical, #memory.critical {
	color: #f88;
}

#battery.warning, #cpu.warning, #disk.warning, #memory.warning {
	color: #ff8;
}

#battery, #cpu, #temperature, #disk, #memory {
	color: #8f8;
}

#clock {
	color: #8ff;
}

#network, #pulseaudio, #backlight {
	color: #f8f;
}

#network.disconnected, #pulseaudio.muted {
	color: #888;
}

