* {
    font-family: "Hack", monospace;
    font-size: 14px;
    font-weight: bold;
}

window#waybar {
    background: transparent;
}

#battery, #cpu, #temperature, #disk, #memory,
#network, #clock, #pulseaudio, #backlight {
	margin: 5px 0;
    margin-right: 10px;
}

#battery.critical, #cpu.critical, #temperature.critical, #disk.critical, #memory.critical {
    color: #f88;
}

#battery.warning, #cpu.warning, #temperature.warning {
    color: #ff8;
}

#battery, #cpu, #temperature, #disk, #memory {
    color: #8f8;
}

#network, #clock {
    color: #8ff;
}

#pulseaudio, #backlight {
    color: #f8f;
}

#pulseaudio.muted {
    color: #888;
}
