* {
	font-family: "Hack", monospace;
	font-size: 12px;
	font-weight: bold;
}

window#waybar {
	background: transparent;
}

.module {
	padding: 3px 7px;
}

#battery, #cpu, #temperature, #disk, #memory {
	color: #8f8;
}

#battery.warning, #cpu.warning, #disk.warning, #memory.warning {
	color: #ff8;
}

#battery.critical, #cpu.critical, #temperature.critical, #disk.critical, #memory.critical {
	color: #f88;
}

#mpris {
	color: #ff8;
}

#network, #pulseaudio, #backlight {
	color: #f8f;
}

#network.disconnected, #pulseaudio.muted {
	color: #888;
}

#clock {
	color: #8ff;
}

